<section>
  <h1>TROPICAL_GOAT</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <img src="https://www.webfx.com/wp-content/uploads/2021/10/0181-22_bestwork.jpg" alt="inspiration frontend">
</section>
