<section class="home-section">
  <h2>a_style_reference</h2>
  <h3>A place to organise your styled components and find new ones.</h3>
  <article>
    <p>
      Keep your styled components easily accessible and checkout what other frontend
      developers are doing.
      <br>
      <br>
      Keep your components as they are on your dashboard, and if you think they are worth sharing, upload them
      to be reviewed. Before being published to the library, componenents are peer reviewed to ensure quality code.
      <br>
      <br>
      This is also a great way to get feed back on your writing style and best practices.
    </p>
    <div class="home-page-drawing"></div>
  </article>
</section>
<%# <img src="https://www.webfx.com/wp-content/uploads/2021/10/0181-22_bestwork.jpg" alt="inspiration frontend"> %>
