.nav-bar {
  background: linear-gradient( #1298cd, $bg-blue);
  height: 10rem;
  padding: 2rem 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-family: $nerko;
  }
  a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: rgb(216, 216, 216);
    }
  }
}
